{:persistent/database   {:adapter            "postgresql"
                         :database-name      #or [#env POSTGRES_DB "postgres"]
                         :server-name        #or [#env POSTGRES_HOST "localhost"]
                         :port-number        #long #or [#env POSTGRES_PORT 5432]
                         :username           #or [#env POSTGRES_USER "postgres"]
                         :password           #or [#env POSTGRES_PASSWORD "postgres"]
                         :maximum-pool-size  10
                         :connection-timeout 30000
                         :idle-timeout       600000
                         :max-lifetime       1800000
                         :minimum-idle       10}
 :persistent/migrations {:store                :database
                         :migration-dir        "migrations"
                         :init-script          "init.sql"
                         :init-in-transaction? true
                         :migration-table-name "schema_migrations"
                         :db                   {:datasource #ig/ref :persistent/database}}
 :persistent/telegram   {:token          #env TELEGRAM_TOKEN
                         :menu-sender-id #env TELEGRAM_MENU_SENDER_ID
                         :datasource #ig/ref :persistent/database}
 :http/server           {:config     {:port  #long #or [#env HTTP_SERVER_PORT 8080]
                                      :join? false}
                         :datasource #ig/ref :persistent/database}}

