{:up [[:feedme/insert-data
       {:table   :menu
        :columns [:fk_category :title :price]}
       ["1" "Ветчина с томатом и сыром" "45"]
       ["1" "Винегрет" "34"]
       ["1" "Витаминный" "34"]
       ["1" "Греческий" "50"]
       ["1" "Зеленый с яйцом" "40"]
       ["1" "Капуста с морской капустой" "45"]
       ["1" "Капуста с овощами" "35"]
       ["1" "Капуста с перцем" "40"]
       ["1" "Капуста со свежими овощами и оливковым маслом" "45"]
       ["1" "Крабовый с рисом" "45"]
       ["1" "Крабовый с томатом и чесноком" "45"]
       ["1" "Мимоза" "50"]
       ["1" "Морковь по-корейски" "34"]
       ["1" "Овощной по-грузински" "45"]
       ["1" "Овощной с зеленым луком и сметаной" "40"]
       ["1" "Овощной с маслом" "45"]
       ["1" "Овощной с оливками" "45"]
       ["1" "Овощной с пекинкой" "45"]
       ["1" "Овощной с яйцом" "45"]
       ["1" "Овощной с яйцом и сметаной" "45"]
       ["1" "Овощной со сметаной" "45"]
       ["1" "Оливье" "45"]
       ["1" "Осенний" "38"]
       ["1" "Пекинка с ананасом и куриным филе" "50"]
       ["1" "Пекинка с огурцом" "45"]
       ["1" "Пекинка с огурцом и укропом" "45"]
       ["1" "Пекинка с редисом и огурцом" "45"]
       ["1" "Русь" "40"]
       ["1" "С ананасом и куриным филе" "50"]
       ["1" "С брокколи и куриным филе" "50"]
       ["1" "С ветчиной и пекинкой" "50"]
       ["1" "С ветчиной, томатом и сыром" "45"]
       ["1" "С капустой, свежими овощами и оливковым маслом" "45"]
       ["1" "С консервированным шампионьонами и копечной колбасой" "50"]
       ["1" "С консервированным шампионьонами и маринованными огурцами" "50"]
       ["1" "С копченной грудкой и белой фасолью" "50"]
       ["1" "С копченной грудкой и жаренными шампиньонами" "50"]
       ["1" "С красной фасолью и куриным филе" "50"]
       ["1" "С куриной печенью и маринованными огурцами" "50"]
       ["1" "С куриной печенью, гренками и фасолью" "50"]
       ["1" "С томатом яйцом и сметаной" "40"]
       ["1" "Свекла с орехами" "34"]
       ["1" "Свекла с сыром" "34"]
       ["1" "Сельдь под шубой" "50"]
       ["1" "Тайсон" "50"]
       ["1" "Цезарь с курицей" "50"]
       ["1" "Яйцо под майонезом и зеленым горошком" "34"]
       ["2" "Борщ" "40"]
       ["2" "Суп грибной" "45"]
       ["2" "Куриный с рисом" "40"]
       ["2" "Лагман" "50"]
       ["2" "Солянка" "50"]
       ["2" "Суп гороховый" "38"]
       ["2" "Суп куриный с рисом" "40"]
       ["2" "Суп с клецками" "38"]
       ["2" "Суп с лапшой" "38"]
       ["2" "Суп со звездочками" "38"]
       ["2" "Томатный с рисом и свининой" "45"]
       ["2" "Харчо по-домашнему" "50"]
       ["2" "Шулюм по-домашнему" "50"]
       ["2" "Щи" "38"]
       ["3" "Биточек" "80"]
       ["3" "Биточек куриный" "85"]
       ["3" "Голень куриная" "80"]
       ["3" "Голубцы ленивые" "80"]
       ["3" "Горбуша жаренная" "90"]
       ["3" "Горбуша припущенная с овощами" "90"]
       ["3" "Гуляш свиной" "99"]
       ["3" "Ежики мясные" "80"]
       ["3" "Жаркое со свининой" "105"]
       ["3" "Зразы с луком и яйцом" "80"]
       ["3" "Котлета домашняя" "80"]
       ["3" "Котлета запеченная с маслинами" "83"]
       ["3" "Котлета запеченная с оливками" "83"]
       ["3" "Котлета запеченная с сыром" "83"]
       ["3" "Котлета запеченная с томатом" "83"]
       ["3" "Котлета запеченная с черносливом" "83"]
       ["3" "Котлета запеченная с шампиньонами" "83"]
       ["3" "Котлета из куриного филе" "85"]
       ["3" "Крылья куриные BBQ" "80"]
       ["3" "Купаты" "80"]
       ["3" "Куриная поджарка в сливочном соусе" "99"]
       ["3" "Куриное соте на шпажке" "99"]
       ["3" "Куриное филе запеченное под сыром" "99"]
       ["3" "Куриное филе запеченное с ананасом" "99"]
       ["3" "Куриное филе запеченное с томатом и сыром" "99"]
       ["3" "Куриное филе запеченное с шампиньонами" "99"]
       ["3" "Куриный рулет с черносливом" "99"]
       ["3" "Куриный рулет с черносливом и зеленью" "99"]
       ["3" "Люля-кебаб" "85"]
       ["3" "Люля-кебаб куриные" "85"]
       ["3" "Минтай жаренный" "90"]
       ["3" "Морской язык жаренный" "90"]
       ["3" "Мясо запеченное с маслинами и оливками" "99"]
       ["3" "Мясо по-французски" "99"]
       ["3" "Печень куриная тушеная с овощами" "90"]
       ["3" "Плов" "105"]
       ["3" "Плов со свининой" "105"]
       ["3" "Поджарка свиная" "99"]
       ["3" "Ребра свиные BBQ" "85"]
       ["3" "Свинина в кисло-сладком соусе" "99"]
       ["3" "Свинина в сливочно-горчичном соусе" "99"]
       ["3" "Свинина отбивная" "99"]
       ["3" "Свиной гуляш" "99"]
       ["3" "Сосиски отварные" "65"]
       ["3" "Стейк куриный" "99"]
       ["3" "Стейк куриный маринованный в сметане" "99"]
       ["3" "Стейк куриный с имбирем и медом" "99"]
       ["3" "Стейк куриный с сыром" "99"]
       ["3" "Тефтели куриные" "85"]
       ["3" "Тефтели куриные в томатном соусе" "85"]
       ["3" "Треска жаренная" "90"]
       ["3" "Удон с курицей" "105"]
       ["3" "Удон со свининой" "105"]
       ["3" "Филе морского языка жареное" "90"]
       ["3" "Форель белая жаренная" "90"]
       ["3" "Форель белая припущенная с овощами" "90"]
       ["3" "Фрикадельки в сливочном соусе" "85"]
       ["3" "Фрикадельки куриные в сливочном соусе" "85"]
       ["3" "Фрикадельки куриные в томатном соусе" "85"]
       ["3" "Шашлычки свиные" "99"]
       ["3" "Шницель" "80"]
       ["4" "Брокколи отварные" "65"]
       ["4" "Булгур" "40"]
       ["4" "Булгур отварной" "35"]
       ["4" "Гречка" "30"]
       ["4" "Гречка с овощами" "34"]
       ["4" "Капуста тушеная" "35"]
       ["4" "Капуста цветная отварная" "65"]
       ["4" "Картофель запеченный с сыром" "40"]
       ["4" "Картофель запеченный со сметаной и сыром" "40"]
       ["4" "Картофель отварной с зеленью" "35"]
       ["4" "Картофельное пюре" "35"]
       ["4" "Картофельные дольки запеченные" "40"]
       ["4" "Каша гороховая" "30"]
       ["4" "Каша овсяная" "30"]
       ["4" "Каша овсяная молочная" "30"]
       ["4" "Каша пшеничная" "30"]
       ["4" "Каша пшенная" "30"]
       ["4" "Каша рисовая молочная" "30"]
       ["4" "Лапша" "27"]
       ["4" "Лапша с соевым соусом" "29"]
       ["4" "Макароны" "25"]
       ["4" "Макароны с песто" "27"]
       ["4" "Перловка отварная" "30"]
       ["4" "Рис" "30"]
       ["4" "Рис отварной" "30"]]]

 :down [[:feedme/insert-data-reverse
         {:table :menu}
         "Ветчина с томатом и сыром"
         "Винегрет"
         "Витаминный"
         "Греческий"
         "Зеленый с яйцом"
         "Капуста с морской капустой"
         "Капуста с овощами"
         "Капуста с перцем"
         "Капуста со свежими овощами и оливковым маслом"
         "Крабовый с рисом"
         "Крабовый с томатом и чесноком"
         "Мимоза"
         "Морковь по-корейски"
         "Овощной по-грузински"
         "Овощной с зеленым луком и сметаной"
         "Овощной с маслом"
         "Овощной с оливками"
         "Овощной с пекинкой"
         "Овощной с яйцом"
         "Овощной с яйцом и сметаной"
         "Овощной со сметаной"
         "Оливье"
         "Осенний"
         "Пекинка с ананасом и куриным филе"
         "Пекинка с огурцом"
         "Пекинка с огурцом и укропом"
         "Пекинка с редисом и огурцом"
         "Русь"
         "С ананасом и куриным филе"
         "С брокколи и куриным филе"
         "С ветчиной и пекинкой"
         "С ветчиной, томатом и сыром"
         "С капустой, свежими овощами и оливковым маслом"
         "С консервированным шампионьонами и копечной колбасой"
         "С консервированным шампионьонами и маринованными огурцами"
         "С копченной грудкой и белой фасолью"
         "С копченной грудкой и жаренными шампиньонами"
         "С красной фасолью и куриным филе"
         "С куриной печенью и маринованными огурцами"
         "С куриной печенью, гренками и фасолью"
         "С томатом яйцом и сметаной"
         "Свекла с орехами"
         "Свекла с сыром"
         "Сельдь под шубой"
         "Тайсон"
         "Цезарь с курицей"
         "Яйцо под майонезом и зеленым горошком"
         "Борщ"
         "Суп грибной"
         "Куриный с рисом"
         "Лагман"
         "Солянка"
         "Суп гороховый"
         "Суп куриный с рисом"
         "Суп с клецками"
         "Суп с лапшой"
         "Суп со звездочками"
         "Томатный с рисом и свининой"
         "Харчо по-домашнему"
         "Шулюм по-домашнему"
         "Щи"
         "Биточек"
         "Биточек куриный"
         "Голень куриная"
         "Голубцы ленивые"
         "Горбуша жаренная"
         "Горбуша припущенная с овощами"
         "Гуляш свиной"
         "Ежики мясные"
         "Жаркое со свининой"
         "Зразы с луком и яйцом"
         "Котлета домашняя"
         "Котлета запеченная с маслинами"
         "Котлета запеченная с оливками"
         "Котлета запеченная с сыром"
         "Котлета запеченная с томатом"
         "Котлета запеченная с черносливом"
         "Котлета запеченная с шампиньонами"
         "Котлета из куриного филе"
         "Крылья куриные BBQ"
         "Купаты"
         "Куриная поджарка в сливочном соусе"
         "Куриное соте на шпажке"
         "Куриное филе запеченное под сыром"
         "Куриное филе запеченное с ананасом"
         "Куриное филе запеченное с томатом и сыром"
         "Куриное филе запеченное с шампиньонами"
         "Куриный рулет с черносливом"
         "Куриный рулет с черносливом и зеленью"
         "Люля-кебаб"
         "Люля-кебаб куриные"
         "Минтай жаренный"
         "Морской язык жаренный"
         "Мясо запеченное с маслинами и оливками"
         "Мясо по-французски"
         "Печень куриная тушеная с овощами"
         "Плов"
         "Плов со свининой"
         "Поджарка свиная"
         "Ребра свиные BBQ"
         "Свинина в кисло-сладком соусе"
         "Свинина в сливочно-горчичном соусе"
         "Свинина отбивная"
         "Свиной гуляш"
         "Сосиски отварные"
         "Стейк куриный"
         "Стейк куриный маринованный в сметане"
         "Стейк куриный с имбирем и медом"
         "Стейк куриный с сыром"
         "Тефтели куриные"
         "Тефтели куриные в томатном соусе"
         "Треска жаренная"
         "Удон с курицей"
         "Удон со свининой"
         "Филе морского языка жареное"
         "Форель белая жаренная"
         "Форель белая припущенная с овощами"
         "Фрикадельки в сливочном соусе"
         "Фрикадельки куриные в сливочном соусе"
         "Фрикадельки куриные в томатном соусе"
         "Шашлычки свиные"
         "Шницель"
         "Брокколи отварные"
         "Булгур"
         "Булгур отварной"
         "Гречка"
         "Гречка с овощами"
         "Капуста тушеная"
         "Капуста цветная отварная"
         "Картофель запеченный с сыром"
         "Картофель запеченный со сметаной и сыром"
         "Картофель отварной с зеленью"
         "Картофельное пюре"
         "Картофельные дольки запеченные"
         "Каша гороховая"
         "Каша овсяная"
         "Каша овсяная молочная"
         "Каша пшеничная"
         "Каша пшенная"
         "Каша рисовая молочная"
         "Лапша"
         "Лапша с соевым соусом"
         "Макароны"
         "Макароны с песто"
         "Перловка отварная"
         "Рис"
         "Рис отварной"]]}